<h1>Edit a New Student</h1>

<%= form_for @student12  do |x| %>
<p>
 <%= x.label :title %><br>
 <%= x.text_field :title%>
</p>
<p>
    <%= x.label :text %><br>
    <%= x.text_area :text%>
</p>
<p>
    <%= x.submit %>
    </p>
<% end %>