<h1>Listing all students</h1>
<p>
<%= link_to 'Create New Article',new_student_path  %>
</p>
<table>
<tr>
<th>Title</th>
<th>Text</th>
</tr>
<% @students.each do |x| %>
<tr>
<td><%= x.title %></td>
<td><%= truncate(x.text,length:75) %></td>
<td><%= link_to 'Show', student_path(x) %></td>
<td><%= link_to 'Edit', edit_student_path(x) %></td>
<td><%= link_to 'Delete',  student_path(x),
    method: :Delete,
    data: {confirm: 'Are you sure?'} 
    %>
</td>
</tr>
<% end %>
<p><%= link_to 'Home Page', root_path%></p>

</table>