<h1>Create a New Student</h1>


<%= form_for :student115, url:students_path  do |x| %>
<p>
 <%= x.label :title %><br>
 <%= x.text_field :title%>
</p>
<p>
    <%= x.label :text %><br>
    <%= x.text_area :text%>
</p>
<p>
    <%= x.submit %>
    </p>
<% end %>

<p><%= link_to 'Blog', students_path %> | <%= link_to 'Home Page', root_path%></p>
